.ui-widget-content {
  font-size: 14px;
}

.ui-dialog-buttonset button:first-child span {
  background-color: #20a711;
  color: #fff;
}

.ui-dialog-buttonset button:last-child span {
  background-color: #af2222;
  color: #fff;
}
